{{ partial "head.html" . }}

<body>

  <main>
    <h1>
      {{$.Title}}
      <small>
        <span class="date">{{.Date.Format "January 2, 2006"}}</span>
        on
        <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
      </small>
    </h1>

    <article>
      {{.Content}}

      <br><br>
      <h2 id="thank-you">Thank you for reading</h2>
      <p>Thank you so much for reading my post. If you have any feedback or queries, please reach out to me. My details are on <a href="{{.Site.BaseURL}}">the home page</a>.</p>
    </article>

  </main>

  {{ partial "foot.html" }}

</body>

</html>
