$footer_height: 2rem;
$black: #080808;

html {
    font-family: Roboto, sans-serif;
    color: $black;
    // @media (prefers-color-scheme: dark) {
    //     color: #ffffff;
    //     background-color: #121212;
    //
    //     a {
    //         color: #4493f8;
    //     }
    // }
}

body {
    // this seems like a sensible value for readability
    max-width: 920px;

    // sensible padding
    margin: 0 auto;
    padding: 1rem;

    /*
        show the footer at the bottom of the page content
        but do not have a floating footer
        ... this tricky to set up
    */
    min-height: calc(100vh - #{$footer_height});
    display: flex;
    position: relative;
    flex-direction: column;
}

main {
    flex: 1; // This pushes the footer to the bottom by taking up all available space
}

// footer at bottom of page content
footer {
    margin-top: $footer_height;
    font-size: .8rem;
    color: #333;
    text-align: center;
    width: 100%;
    bottom: 0;
}

h1 {
    margin-top: 0;
    font-size: 1.5rem;

    small {
        display: block;
        font-size: 1rem;
    }
}

code { /* similar to github */
    padding: .2em .4em;
    margin: 0;
    white-space: break-spaces;
    background-color: #818b981f;
    border-radius: 6px;
}

// home page
.index {
    display: flex;
    flex-direction: row;

    .article-list {
        flex-grow: 1;

        .article {
            margin-bottom: 1rem;
        }

        .date {
            display: block;
            color: #333;
        }
    }

    aside {
        width: 31%;

        img {
            display: block;
            margin: 0 auto 1rem;
            border-radius: 5px;
        }

        dt {
            font-size: 0.9rem;
        }

        dd {
            margin-left: 0;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    // e.g. on mobile
    @media(max-width: 640px) {
        aside {
            padding-left: 5px;
        }
    }
}

article {
    margin: 0 auto;
    max-width: 720px;
    line-height: 1.4; // always tuning this

    img, video, iframe {
        // !important for asciinema frames
        display: block !important;
        margin: 0 auto !important;
        // potentially dangerous
        max-width: 120%;

        @media(max-width: 640px) {
            max-width: calc(100% - #{$footer_height});
        }
    }

    sup {
        line-height: 1;
    }

    .comment {
        margin: 2rem auto 0;
        max-width: 80%;
        color: #333;
    }
}

.footnotes {
    font-size: 0.85rem;
}

.resizeable {
    max-width: 100%;
    height: auto;
}

.float-img {
    float: right;
    display: inline;
    padding-left: 1rem;

    @media(max-width: 640px) {
        display: block;
        float: none;
        padding-left: inherit;
    }
}

pre {
    padding: 0.25rem 1rem;
    margin: 0 -1rem;
    max-width: 100%;
    overflow-x: auto;
}

summary {
    cursor: pointer;
    background-color: #eee;
    padding: 0.25rem 1rem;
    margin: 0 -1rem;
}

details[open] {
    border-bottom: 1rem solid #eee;
    margin: 0 -1rem 1rem;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

blockquote {
    border-left: 5px solid #777;
    background-color: #eee;
    padding: 0 1rem;
    margin-left: 0;
    margin-right: 0;

    blockquote {
        margin-right: 0;
        margin-left: 0;
    }
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2rem 1rem;

    dt {
        font-weight: bold;
        grid-column-start: 1;
    }

    dd {
        grid-column-start: 2;
        margin: 0;
    }
}

.alert {
    padding: 0.5rem;
    border: 1px solid transparent;
    margin-bottom: 1rem;

    &.alert-danger {
        background: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }

    &.alert-info {
        background: #d1ecf1;
        color: #0c5460;
        border-color: #bee5eb;
    }
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
table thead th,
table tfoot th {
    background: rgba(0,0,0,.1);
}
table caption {
    padding:.5em;
}
table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}
td.red {
    background: #F8D7DA;
}
td.yellow {
    background: #FFF3CD;
}
td.blue {
    background: #CFE2FF;
}

// hero picker
#hero-wrapper {
    margin-top: 20px;
}

/* latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto-v30-regular-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto Italic"), local("Roboto-Italic"), url("/fonts/roboto-v30-regular-italic-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/roboto-v30-bold-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto Mono"), local("RobotoMono-Regular"), url("/fonts/robotomono-v23-regular-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url("/fonts/robotomono-v23-bold-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
    color: #1565c0; /* blue800 */
    text-decoration: none;
}



a:visited {
    color: #6a1b9a; /* purple800 */
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    body, .index .article-list .date, footer, .gist, .gist-meta {
        background: #121212;
        color: RGB(255 255 255 / 87%); /* 87% white */
    }

    img {
        background-color: RGB(255 255 255 / 87%);
    }

    a {
        color: #90caf9; /* blue200 */
    }

    a:visited {
        color: #ce93d8; /* purple200 */
    }

    // h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    //     color: RGB(255 255 255 / 87%); /* 87% white */
    // }

    button, .button, .button:visited {
        color: black;
        background-color: #95c4ff; /* system_accent1_200, because accent_device_default_dark => system_accent1_100 was too light */
    }

    button:hover, .button:hover {
        background-color: #89b4ea; /* color between default and pressed */
    }

    button:focus, .button:focus {
        background-color: #7ca3d4; /* button pressed on Android */
    }

    button:disabled {
        background-color: RGB(227 226 230 / 12%);
        color: RGB(227 226 230 / 38%);
    }

    code, pre {
        background-color: #44474e; /* surface-variant */
        color: #c4c6cf; /* on-surface-variant */
    }

    pre, details, details[open] summary {
        border-color: #8e9099; /* outline */
    }

    footer a, footer a:visited {
        color: #9f9f9f;
    }

    footer img {
        filter: invert(87%);
    }

    .error-text {
        /* Baseline Material dark error color */
        color: #cf6679;
    }

    td {
        border-color: #222;
    }

    .phone-img {
        filter: brightness(0.87);
    }

    .phone-logo-img {
        filter: invert(87%);
    }

    .surface {
        background-color: #212121;
    }

    var {
        color: #ffb4ab;
    }

    .notice {
        border-color: #8e9099 /* outline */;
        background-color: #3e4758 /* secondary container */;
        color: #dae2f9 /* on secondary container */;
    }
}

// this is autogenerated
// hugo gen chromastyles --style=dracula

/* Background */ .bg { color:#f8f8f2;background-color:#282a36; }
/* PreWrapper */ .chroma { color:#f8f8f2;background-color:#282a36; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#3d3f4a }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#ff79c6 }
/* KeywordConstant */ .chroma .kc { color:#ff79c6 }
/* KeywordDeclaration */ .chroma .kd { color:#8be9fd;font-style:italic }
/* KeywordNamespace */ .chroma .kn { color:#ff79c6 }
/* KeywordPseudo */ .chroma .kp { color:#ff79c6 }
/* KeywordReserved */ .chroma .kr { color:#ff79c6 }
/* KeywordType */ .chroma .kt { color:#8be9fd }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color:#50fa7b }
/* NameBuiltin */ .chroma .nb { color:#8be9fd;font-style:italic }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color:#50fa7b }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color:#50fa7b }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color:#8be9fd;font-style:italic }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color:#ff79c6 }
/* NameVariable */ .chroma .nv { color:#8be9fd;font-style:italic }
/* NameVariableClass */ .chroma .vc { color:#8be9fd;font-style:italic }
/* NameVariableGlobal */ .chroma .vg { color:#8be9fd;font-style:italic }
/* NameVariableInstance */ .chroma .vi { color:#8be9fd;font-style:italic }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color:#f1fa8c }
/* LiteralStringAffix */ .chroma .sa { color:#f1fa8c }
/* LiteralStringBacktick */ .chroma .sb { color:#f1fa8c }
/* LiteralStringChar */ .chroma .sc { color:#f1fa8c }
/* LiteralStringDelimiter */ .chroma .dl { color:#f1fa8c }
/* LiteralStringDoc */ .chroma .sd { color:#f1fa8c }
/* LiteralStringDouble */ .chroma .s2 { color:#f1fa8c }
/* LiteralStringEscape */ .chroma .se { color:#f1fa8c }
/* LiteralStringHeredoc */ .chroma .sh { color:#f1fa8c }
/* LiteralStringInterpol */ .chroma .si { color:#f1fa8c }
/* LiteralStringOther */ .chroma .sx { color:#f1fa8c }
/* LiteralStringRegex */ .chroma .sr { color:#f1fa8c }
/* LiteralStringSingle */ .chroma .s1 { color:#f1fa8c }
/* LiteralStringSymbol */ .chroma .ss { color:#f1fa8c }
/* LiteralNumber */ .chroma .m { color:#bd93f9 }
/* LiteralNumberBin */ .chroma .mb { color:#bd93f9 }
/* LiteralNumberFloat */ .chroma .mf { color:#bd93f9 }
/* LiteralNumberHex */ .chroma .mh { color:#bd93f9 }
/* LiteralNumberInteger */ .chroma .mi { color:#bd93f9 }
/* LiteralNumberIntegerLong */ .chroma .il { color:#bd93f9 }
/* LiteralNumberOct */ .chroma .mo { color:#bd93f9 }
/* Operator */ .chroma .o { color:#ff79c6 }
/* OperatorWord */ .chroma .ow { color:#ff79c6 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color:#6272a4 }
/* CommentHashbang */ .chroma .ch { color:#6272a4 }
/* CommentMultiline */ .chroma .cm { color:#6272a4 }
/* CommentSingle */ .chroma .c1 { color:#6272a4 }
/* CommentSpecial */ .chroma .cs { color:#6272a4 }
/* CommentPreproc */ .chroma .cp { color:#ff79c6 }
/* CommentPreprocFile */ .chroma .cpf { color:#ff79c6 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color:#f55 }
/* GenericEmph */ .chroma .ge { text-decoration:underline }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight:bold }
/* GenericInserted */ .chroma .gi { color:#50fa7b;font-weight:bold }
/* GenericOutput */ .chroma .go { color:#44475a }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { font-weight:bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration:underline }
/* TextWhitespace */ .chroma .w {  }
