{{ partial "head.html" . }}

<body>

  <main class="index">
    <section class="article-list">
      <h1>{{$.Title}}</h1>

      {{ range (where .Site.RegularPages "Section" "blog") }}
      <div class="article">
        <span class="date">{{.Date.Format "January 2, 2006"}}</span>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </div>
      {{ end }}
    </section>

    <aside>
      <img src="img.jpg" alt="Innerspeaker" width="148" height="148" class="resizeable" />

      <div class="text-center" style="word-break: break-word; max-width: 10em; margin: 0 auto;">
        <a href="about">about</a>
        ·
        <a href="https://notes.jfx.ac">notes</a>
        ·
        <a class="rss" href="/blog/index.xml">rss</a>
        .
        <a href="projects">projects</a>
        .
        <a href="hero">hero picker</a>
      </div>

      <dl class="external-links">
        <dt>email</dt>
        <dd><a href="mailto:me@jfx.ac">me@jfx.ac</a></dd>
        <dt>github</dt>
        <dd><a href="https://github.com/itsjfx">itsjfx</a></dd>
        <dt>pgp</dt>
        <dd><a href="/publickey.txt">17FE13EC5D1B9055</a></dd>
        <dt>matrix</dt>
        <dd><a href="https://matrix.to/#/@jfx:jfx.ac">@jfx:jfx.ac</a></dd>
      </dl>

      <small>
      </small>
    </aside>
  </main>

  {{ partial "foot.html" . }}

</body>

</html>
